@use '../helpers/' as *;

.burger-button {
  width: rem(24);
  height: rem(17);
  background-color: transparent;
  border: none;
  display: inline-flex;
  justify-content: space-between;
  flex-direction: column;
  padding: 0;
  transition-duration: .2s;
  z-index: 20;

  &__line {
    width: 100%;
    height: rem(3);
    background-color: #979797;
    transition-duration: .2s;
  }

&.active {
  margin-bottom: .4em;
  .burger-button__line {
    &:last-child {
      display: none;
    }
    &:first-child {
      transform-origin: center;
      transform: translate(0, .9em) rotate(45deg);
    }
    &:nth-child(2) {
      transform-origin: center;
      transform: rotate(-45deg);
    }
  }
}
}